.node {
  border: solid 2px gray;
  border-radius: 3px;
  background-color: white;
  width: 100%;
  height: 100%;
}

.node--selected {
  border: solid 2px var(--selected-color);
}

.node--lock {
  background-color: gray;
}

.node__textarea {
  margin: 1px;
  padding: 4px;
  font-size: 12px;
  overflow: hidden;
  resize: none;
}

.node__textarea--readonly {
  user-select: none;
  cursor: pointer;
  outline: none;
  border-color: transparent;
}

.node__textarea--editable {
  user-select: text;
}

.node__textarea:disabled {
  user-select: none;
  cursor: not-allowed;
  outline: none;
  background-color: lightgray;
  opacity: 1;
}

.node__lock-title {
  font-size: 12px;
  background-color: lightgray;
  padding: 4px;
  white-space: nowrap;
  height: 24px;
}
