.tool-menu__container {
  position: absolute;
  display: flex;
  top: 8px;
  left: 8px;
  column-gap: 8px;
}

.tool-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: solid 1px gray;
  border-radius: 9px;
  padding-left: 2px;
  padding-right: 2px;
  background-color: white;
}

.tool-menu__item {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px 2px 4px 2px;
  cursor: pointer;
}

.tool-menu__radio {
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
  opacity: 0;
}

.tool-menu__label {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.tool-menu__radio:checked + div {
  background-color: lightgray;
  border-radius: 5px;
}

.tool-menu__radio:hover + div {
  background-color: #c0c0c0;
}

.tool-menu__img {
  width: 24px;
  height: 24px;
}

.tool-menu__line {
  margin-left: 2px;
  margin-right: 2px;
  width: 1px;
  height: 40px;
  background-color: gray;
}

.user-menu__container {
  position: absolute;
  top: 8px;
  right: 8px;
}

.user-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px gray;
  border-radius: 9px;
  padding-left: 2px;
  padding-right: 2px;
  background-color: white;
}

.user-menu__input {
  font-size: 14px;
  width: 128px;
  height: 32px;
  margin: 4px;
}

.user-menu__label {
  font-size: 12px;
  width: 128px;
  height: 24px;
  margin-left: 8px;
}
