@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #fff;
  --font-color: #0f0f0f;
  --primary1-color: #689f38;
  --primary2-color: #8bc34a;
  --primary3-color: #c5e1a5;
}

#root {
  width: 100%;
  height: 100vh;
  color: var(--font-color);
  background-color: var(--primary3-color);
}

body {
  font-size: 12px;
}

button,
select,
input,
textarea {
  border-radius: 4px;
  border: solid 1px var(--primary2-color);
  accent-color: var(--primary1-color);
}

button,
input,
textarea {
  padding: 4px 8px;
}

select {
  padding: 4px;
}

button:disabled,
select:disabled,
input:disabled,
textarea:disabled {
  background-color: lightgray;
  color: gray;
}

button:focus,
select:focus,
input:focus,
textarea:focus {
  outline: 2px solid var(--primary2-color);
}

img {
  user-drag: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
}
